<div
  id="modal"
  class="modal"
  role="dialog"
  aria-modal="true"
  aria-label="Enlarged image viewer"
  aria-hidden="true"
  onclick="closeModal()"
>
  <button type="button" class="close" aria-label="Close image viewer" onclick="closeModal()">
    &times;
  </button>
  <img class="modal-content" id="modalImg" alt="" />
</div>
